@media (max-width: 768px){
    .container{
        flex-direction: column;
     
    }    

.timer,.tasks{
    width: 100%;
    padding: 20px;
}
.h1{
    font-size: 2rem;
}
.html{
    font-size: 14px;
}
.timer h1, .timer div{
   text-align: center;
}
.tasks{
    position: relative;
    top:80%;
    margin-top: 80%;
    border-radius: 16px;
    margin-top: -16px;
    background-color: #fff;
    z-index: 99;
}
.btn-link{
    font-size: 1.2rem;
}

.timer{
    position:fixed;
    height: 80%;
    padding-bottom: 50px;
}

.btn-large{
    font-size: 1.2rem;
}

.btn-large{
    width: 100%;
}

@media (max-width: 325px){
    .clock{
        font-size: 6rem;
    }


}
}